* {
  box-sizing: border-box;
}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #eee;
  background-color: #333;
  font-size: 16px;
  overflow-x: hidden;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 2.75em;
  font-weight: 300;
  margin: 40px 0 12px;
  letter-spacing: -1px;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 24px 0;
}
.light {
  font-weight: 300;
}
.colored {
  color: #1cbb9e;
}
.centered {
  text-align: center;
}
p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 0 24px;
}
img {
  display: inline-block;
  width: 100%;
}

.intro {
  min-height: 80vh;
  background: url(./img/tel_aviv.jpg) no-repeat center center #202634;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin: 0;
}
.intro-text {
  font-size: 24px;
  text-align: center;
}
.arrow-down {
  cursor: pointer;
}
.arrow-down:hover {
  opacity: 1;
}
.arrow-down {
  width: 60px;
  height: 60px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(28, 187, 158, 0.5);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -30px;
  opacity: 0.9;
}

navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292c2d;
  z-index: 999;
}
navbar > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
navbar > .container:before, navbar > .container:after {
  content: initial;
}
#logo img {
  height: 48px;
  width: auto;
}
navbar ul {
  list-style: none;
}
navbar li {
  display: inline-block;
}
navbar a {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
  padding: 12px 24px;
}
navbar a:hover {
  text-decoration: none;
  color: #1cbb9e;
  opacity: 1;
}

section {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.secondary {
  color: #333;
  background-color: #999;
}
section.secondary:nth-of-type(2n) {
  background-color: #fff;
}

#about {
  min-height: 70vh;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
#yoav-image, #yoav-image-small {
  background: url(./img/yoav_main1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#yoav-image {
  min-width: 500px;
  max-width: 670px;
}
#yoav-image-small {
  width: 40%;
  min-width: 200px;
  height: 350px;
  float: left;
  margin-right: 20px;
}
@media (max-width: 499px) {
  #yoav-image-small {
    width: 100%;
    float: clear;
  }
}
section .right {
  padding: 30px 60px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  section .right {
    padding: 20px 20px;
  }
  h1 {
    text-align: center;
  }
}

#numbers-container {
  background: url(./img/blur-wallpapers-1.jpg) no-repeat center center #202634;
  background-size: cover;
}
#numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
}
#numbers > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-data {
  width: 120px;
  height: 120px;
  box-shadow: 0 0 0 2px #1cbb9e;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-data h3 {
  font-size: 30px;
  margin: 0;
  color: #1cbb9e;
}
.numbers-text {
  text-align: center;
  font-size: 1.5em;
  margin-top: 12px;
  color: #fff;
}
@media (max-width: 767px) {
  .circle-data {
    width: 60px;
    height: 60px;
    box-shadow: none;
  }
  .numbers-text {
    font-size: 1em;
  }
  #numbers {
    flex-wrap: wrap;
    padding: 0;
  }
  #numbers > div {
    width: 40%;
  }
}

.testimonials-row > * {
  width: 33.333333333% !important;
}
#testimonials {
  flex-direction: column;
  padding: 0;
}
.testimonials-container {
  background: url(./img/blur-wallpapers-1.jpg) no-repeat center bottom #202634;
  background-size: cover;
}
#testimonials .container {
  padding: 100px 60px 60px;
}
.testimonials-row {
  display: table;
  max-width: 1200px;
}
.testimonials-row > * {
  display: table-cell;
  height: 100%;
}
.testimonial {
  background-color: #222;
  padding: 48px 24px;
  border-left: 5px solid transparent;
}
.testimonial footer {
  color: #fff;
  font-weight: 300;
}
.quote:not(.fa-quote-right) {
  color: #e7e9ea;
  float: left;
  padding: 0 15px 5px 0;
}
.quote-open {
  float: left;
  height: 150%;
  margin-right: 20px;
}
.quote-open, .quote-close {
  color: #fff;
  font-size: 4em;
  font-family: open-sans;
}
.quote-close {
  line-height: 1em;
  vertical-align: bottom;
  display: inline;
  float: right;
}
.testimonial.dark {
  /*background-color: #1b8975;*/
}
.testimonial p {
  font-family: 'Josefin Sans', sans-serif;
  color: #A9B0B3;
  font-weight: 300;
  padding-right: 40px;
}
.testimonial footer {
  margin-top: 24px;
  margin-bottom: 60px;
}
.testimonials-row .img {
  background-position: center center;
  background-color: #292c2d;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 900px) {
  .testimonial {
    padding: 24px 12px;
  }
}
@media (max-width: 767px) {
  .testimonials-row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto !important;
  }
  .testimonials-row .img, .testimonials-row .testimonial {
    width: 100% !important;
  }
  .testimonials-row .img {
    height: 300px;
  }
}

#contact {
  padding-bottom: 240px;
  background: url(./img/map.jpg) no-repeat center center #292c2d;
  background-size: cover;
  color: #fff;
}
.contact-container {
  padding-top: 40px;
  max-width: 400px;
  margin: 0 auto;
}
.contact-item {
  margin: 9px 0;
}
.contact-item .fa {
  background-color: #1cbb9e;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  vertical-align: middle;
  font-size: 24px;
}
#contact a {
  color: inherit;
  padding: 6px;
}
#contact p {
  margin-top: 24px;
}
